<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64365713049-qo5v60fnr5mh2oj37iff2lcmpa2k6710.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64365713049-qo5v60fnr5mh2oj37iff2lcmpa2k6710</string>
	<key>API_KEY</key>
	<string>AIzaSyC4JNmapwdf-y3ZUW6LmOQQKKPMFJZp6U0</string>
	<key>GCM_SENDER_ID</key>
	<string>64365713049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.asimcanyagiz.BazaarWay</string>
	<key>PROJECT_ID</key>
	<string>bazaarway-d93ed</string>
	<key>STORAGE_BUCKET</key>
	<string>bazaarway-d93ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64365713049:ios:6fd5c76ece1b89b6fdca08</string>
</dict>
</plist>